/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
package-lock.json
.lsp/
*.iml
.idea/
node_modules/
.shadow-cljs/
resources/public/js/
resources/public/files/
.firebaserc
.firebase/
.DS_Store
.clj-kondo/
